h2 {
    color: rgb(226, 226, 226);
    letter-spacing: 3px;
    font-size: 20px;
    font-family: 'Pridi', serif;
}

.container {
    margin-right: 0px;
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    padding: 5px;
    font-size: 16px;
}

.back {
    font-family: Arial, Helvetica, sans-serif;
}