* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body {
    background-image: url("http://resources.mynewsdesk.com/image/upload/c_limit,dpr_2.625,f_auto,h_700,q_auto,w_360/ceauuhnry6lxgxv05wat.jpg");
    background-size: cover;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(148, 11, 11, 0.8);
    font-family: 'Pridi', serif;
  }
  
  .logo {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 20px;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
  }
  
  .nav-links li {
    list-style: none;
  }
  
  .nav-links div {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: bold;
  }
  
  .maindiv {
    width: 70%;
    height: 470px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url('https://static.digit.in/default/561f2e8151abcf4ad4f8755030443d7353a4573a.jpeg');
    background-size: 100% 100%;
    box-shadow: 1px 2px 10px rgb(148, 11, 11);
    animation: slider 15s infinite linear;
  }
  
  @keyframes slider {
    0% {background-image: url('https://static.digit.in/default/561f2e8151abcf4ad4f8755030443d7353a4573a.jpeg');}
    
    25% {background-image: url('https://cnet1.cbsistatic.com/img/JrgB4IFlNIViJC1gNxweCxE0aH4=/1200x675/2019/09/03/b288f964-9d25-4317-b509-159f43513571/ad-astra-brad-pitt-11-promo.jpg');}
  
    50% {background-image: url('https://images.svd.se/v2/images/4d91ed04-f4db-4f68-8159-738a0800f0c5?fit=crop&h=490&q=80&upscale=true&w=980&s=55ed57539afe474ac89a9e95f58e864244dc567b');}
    
    75% {background-image: url('https://imgs.aftonbladet-cdn.se/v2/images/254e9caf-e18c-4996-93d1-0764cea04d79?fit=crop&h=1069&q=50&w=1900&s=636fef73bd8721c004ba06d94b84286978c45a8a');}
  }
  
  footer {
    text-align: center;
    padding-top: 38%;
  }
  
  .socicons-list {
    list-style: none;
    display: flex;
    justify-content: center;
   }
   .socicons-list li {
    margin: 25px 15px;
   }
   .socicons-list li a {
    text-decoration: none;
    padding: 20px;
    font-size: 30px;
    border-radius: 50%;
    color: #fff;
    background-color: #f1f1f1;
    transition: all ease-in-out 150ms;
   }
   .socicons-list li a:hover {
    text-shadow: 0 5px 10px #212121;
   }
   .socicons-list li:nth-child(1) a {
    background-color: #3e5b98;
   }
   .socicons-list li:nth-child(2) a {
    background-color: #c13584;
   }
   .socicons-list li:nth-child(3) a {
    background-color: #4da7de;
   }
   
   
  h2 {
    color: rgb(226, 226, 226);
    letter-spacing: 3px;
    font-size: 20px;
    font-family: 'Pridi', serif;
  }
  
  .viewings{
    color: rgb(226, 226, 226);
    letter-spacing: 3px;
    font-size: 20px;
    font-family: 'Pridi', serif;
  }

  .signin {
    background: rgb(148, 11, 11, 0.8);
    border-radius: 15px;
    padding: 40px;
    display: inline-flex;
    margin: auto;
    margin-top: 70px;
    margin-left: 180x;
}

form {
    width: 240px;
    text-align: center;   
}
form div{
  color: yellow;
  text-decoration: blink;
}
input {
    width: 240px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(226, 226, 226);
    font-family: 'Play', sans-serif;
    font-size: 16px;
    font-weight: 200px;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;
    color: rgb(226, 226, 226);
}

.btn {
    border: none;
    width: 190px;
    background: rgb(226, 226, 226);
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
    padding: 10px 0;
    border-radius: 15px;
    cursor: pointer;
}

.btn:hover {
    color: rgb(226, 226, 226);
    background: rgb(151, 145, 145);
}

a {
    color: yellow;
    text-decoration: blink;
}

a:hover {
    color: skyblue;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

::placeholder {
    color: rgb(226, 226, 226);
    opacity: 0.8;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:  rgb(226, 226, 226);
}

.back {
    font-family: Arial, Helvetica, sans-serif;
}

.ourMovies {
  position: absolute;
  padding-top: 100px;
  padding-left: 35%;
  padding-left: 70px;
}

.movPost {
  height: 220px;
  border-radius: 15px;
  box-shadow: 1px 2px 10px rgb(148,11,11);
}

.title {
  font-family: 'Pridi',serif;
  font-weight: bold;
  color: rgba(226,226,226);
  letter-spacing: 3px;
  margin: 7px;
}

.release, .genre {
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 color: rgba(226,226,226);
 margin: 7px;
 
}

.genre {
  margin-bottom: 25px;
}

.popupInfo {
  margin-bottom: 25px;
}

.ticketBtn {
  border: none;
  width: 190px;
  position: absolute;
  padding-left: 50%;
  background: rgb(226, 226, 226);
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  line-height: 25px;
  padding: 10px 0;
  border-radius: 15px;
  cursor: pointer;
}

.ticketBtn:hover {
  color: rgb(226, 226, 226);
  background: rgb(151, 145, 145);
}

.popupInfo {
  display: inline-block;
  cursor: pointer;
  font-family: 'Pridi',serif;
  color: rgb(226, 226, 226);
  font-weight: bold;
  padding-left: 7px;
}

.popupInfo .textInfo {
  visibility: hidden;
  width: 250px;
  height: 325px;
  background-color: rgb(31, 29, 29);
  box-shadow: 1px 2px 10px rgb(31, 29, 29);
  line-height: 30px;
  color: rgb(226, 226, 226);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
  text-align: center;
  border-radius: 15px;
  padding: 8px 0;
  position: absolute;
  bottom: 70%;
  left: 35%;
  margin-left: -80px;
}

.popupInfo .textInfo::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
}

.popupInfo .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.movieGrid {
  list-style: none;
  display: flex;
  justify-content: center;
}